* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #753682, #bf2e34);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Laila", serif;
  text-transform: uppercase;
}
main {
  position: relative;
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 10px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 50%;
  height: 100%;
}
.player-info h1 {
  margin-bottom: 1rem;
  letter-spacing: 3px;
}
.player-info p {
  color: #753682;
  font-size: 5rem;
}
.current-info {
  margin: 0 auto;
}
.current {
  width: 10rem;
  text-align: center;
  background-color: #bf2e34;
  color: #fff;
  padding: 1rem;
}
.current-info span {
  font-size: 1.5rem;
  font-weight: 600;
}
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem 2.5rem;
  border-radius: 20px;
  border: 1px solid wheat;
  color: #6200ff;
  font-weight: 600;
  background: transparent;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

.new-game {
  top: 20%;
}
.roll {
  bottom: 32%;
}
.hold {
  bottom: 25%;
}
.dice-img {
  top: 30%;
  position: absolute;
  width: 12rem;
}
.player-active {
  background: linear-gradient(to left, #448ed3, rgb(231, 164, 181));
}

@media (max-width: 750px) {
  .dice-img {
    width: 30%;
    top: 35%;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .new-game {
    top: 5%;
  }

  .player-info p {
    color: #753682;
    font-size: 2rem;
  }
  .current-info {
    margin-top: 10rem;
  }
  .player-info {
    margin-top: 4rem;
  }
  .roll {
    bottom: 35%;
  }
}
.hidden {
  display: none;
}
.winner {
  background-color: chartreuse;
}
